#chat_header{
    /*margin: auto;*/
}
body{
    /*margin-top: 50px;*/
}
.container{
    background-color: #d0fff4;
    margin-top: 50px;
    border-radius: 10px;
    border: 3px solid #6dd7ff;
    height: 550px;
}
#title{
    width: 200px;
    margin: auto;
    text-align: center;
}
#chat_content{
    height: 70%;
}
#d_messages{
    background-color: white;
    float: left;
    height: 100%;
    width: 70%;
    border-radius: 10px;
    border: 1px solid #6dd7ff;
}
#d_users{
    background-color: white;
    float: right;
    height: 100%;
    width: 20%;
    border-radius: 10px;
    border: 1px solid #6dd7ff;
}
#_send{
    position: relative;
    height: 50px;
    margin-top: 30px;
    /*border: 3px solid #6dd7ff;*/
}
#s_input{
    width: 70%;
    float: left;
    border: 1px solid #6dd7ff;
}
#s_btn{
    width: 20%;
    float: right;
    border: 1px solid #6dd7ff;
}
#smiles{
    margin: 5px;
    margin-bottom: -5px;
    display: inline-block;
}
#hide{
    display: none;
    margin: 5px;
    top: -5px;
    left: 65%;
    height: 70px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid #6dd7ff;
    background-color: #f2d3ff;
    position: absolute;
}
#smiles:hover #hide{
    display: block;
}
.smile{
    margin: 2px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    cursor: pointer;
}
#view_date{
    background-color: antiquewhite;
    font-size: 10px;
}
div #view_message{
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid antiquewhite;
}
#chat_login {
    position: absolute;
    display: inline;
}